body {
    font-family: Arial, sans-serif;
    background-color: white; /* Fondo completamente blanco */
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 30px; /* Más grande */
    margin-bottom: 15px;
    color: #2ECC71; /* Verde claro */
}

.leyenda {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px;
}

.bolitas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
    font-size: 18px;
}

/* Estilos de la tabla */
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 95%; /* Más grande */
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px; /* Espaciado más grande */
    text-align: left;
    font-size: 18px; /* Letra más grande */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
}

/* Estilos de las bolitas de colores */
.circle {
    height: 16px; /* Más grande */
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

/* Colores de interpretación */
.blanco { background-color: white; border: 1px solid black; }
.verde { background-color: green; }
.amarillo { background-color: yellow; }
.naranja { background-color: rgb(255, 72, 0); }
.dorado { background-color: rgb(186, 247, 105); }
.azul { background-color: #0056b3; }

/* Destacar la bolita de 44 años */
.activa {
    border: 3px solid black; /* Borde negro para resaltar */
}
.resultado-input {
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.botones {
    margin-top: 20px;
    text-align: center;
}

.botones button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.botones button:hover {
    background-color: #0056b3;
}

.dieta table {
    margin-left: 30px; /* Ajusta el valor según lo necesites */
}

div.genero {
    font-size: 18px; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea más grueso */
    padding: 10px; /* Agrega un poco de espacio alrededor */
}

div.genero label {
    display: inline-block;
    background-color: #f0f0f0; /* Fondo suave para resaltar */
    padding: 8px 15px;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Indica que es clickeable */
    margin: 5px;
    transition: background 0.3s;
}

div.genero label:hover {
    background-color: #ddd; /* Cambio de color al pasar el cursor */
}

div.genero input {
    transform: scale(1.2); /* Agranda los radio buttons un poco */
    margin-right: 5px;
}

